.toggle-emoji{
    position: absolute;
        right: 18px;
        background: #f5ba13;
        color: #fff;
        border: none;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        outline: none;
}

.add-user-room input{
    margin: 10px;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.message-list{
    width: 100%;
    height: 80%;
  overflow: scroll;
}

.message-list ul {
    list-style: none;
}

.message-list li {
    margin-top: 13;
    margin-bottom: 13;
}

.card-signin {
    border: 0;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
